.mt-20 {
    margin-top: 5rem;
}

.w-full {
    width: 100%;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.max300 {
    max-width: 300px;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
}

.well-block {
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.text-center {
    text-align: center;
}

.dragzone {
    border: 2px dashed #7f7f7f;
    height: 50px;
    justify-content: center;
}

.bg-gray-300 {
    background-color: rgba(209, 213, 219, 1);
}
.hover\:bg-gray-400:hover {
    background-color: rgba(156, 163, 175, 1);
}

.text-gray-800 {
    color: rgba(153, 27, 27, 1);
}
.font-bold {
    font-weight: 700;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.rounded {
    border-radius: 0.5rem;
}
.cursor-pointer {
    cursor: pointer;
}

#js-intro-guide i {
    font-style: normal;
}

#js-intro-guide {
    text-decoration: none;
}

#js-intro-guide:hover {
    text-decoration: none;
}

.draggable:hover {
    border: 2px dashed #6495ed;
}